body, html {
    height: 100%;
    margin: 0;
    background-image: url("../../../img/close-up-photography-of-microphone-144429.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat'
}

/* Removes the arrow in the search field */

input::-webkit-calendar-picker-indicator {
    display: none;
}

.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    /* top: 0%; */
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

input[type=text], select {
    max-width: 600px;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}