body,
html {
    height: 100%;
    margin: 0;
    background-image: url("./images/background-of-microphone.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat'
}

.main-content {
    color: #fff;
    font-weight: bold;
    width: 90%;
    max-width: 500px;
    padding: 20px;
}

.centered {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.artist-search-input {
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.track-list-position {
    color: #fff;
    margin: 0 12px 32px 0;
    text-align: left;
    min-width: 12px;
}

.track-actions-container {
    flex-wrap: wrap;
    height: 100%;
    width: 40px;
}

.track-action {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
}

#search-result,
#most-popular-tracks,
.user-feedback-container {
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
}

#search-result {
    background-color: white;
}

#most-popular-tracks {
    background-color: #363636;
    margin-top: 8px;
}

.track-action-icon {
    color: white;
}

.artist-result-icon {
    color: black;
    /* Margin used to add spacing between group icon and followers count of artist */
    margin-right: 4px;
}

.user-feedback-container {
    background-color: transparent;
    height: auto;
    margin-top: 8px;
    padding: 12px 12px;
    display: none;
    position: fixed;
}

.track-action+.track-action {
    margin-top: 0px;
}

.user-feedback-text {
    margin: 0;
    color: #000;
    text-align: left;
}

.error-color {
    background-color: #ffbfbb;
}

.success-color {
    background-color: #daf7e5;
}

/* taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar */

.show-user-feedback {
    visibility: visible;
    display: block;
    animation: fadein 0.5s, fadeout 0.25s 1.5s;
}

/* taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar */

@keyframes fadein {
    from {
        height: 0px;
        margin-top: 0px;
        padding: 0px 12px;
        opacity: 0;
    }

    to {
        height: auto;
        margin-top: 8px;
        padding: 12px 12px;
        opacity: 1;
    }
}

/* taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar */

@keyframes fadeout {
    from {
        height: auto;
        margin-top: 8px;
        padding: 12px 12px;
        opacity: 1;
    }

    to {
        height: 0px;
        margin-top: 0px;
        padding: 0px 12px;
        opacity: 0;
    }
}

.artist-picture,
.track-picture {
    width: auto;
    height: 100%;
    border-radius: 4px;
}

.search {
    width: 95%;
}

.followers {
    display: flex;
    height: 24px;
    margin-top: 4px;
    align-items: center;
}

.followers-icon {
    width: auto;
    height: 100%;
    margin: 0 8px 0 0;
}

.artist-name,
.track-name,
.artist-followers {
    margin: 0;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
    text-align: left;
}

.track-name {
    color: #fff;
}

.artist-followers {
    margin-left: 16px;
    color: #000;
    margin: 0px;
    letter-spacing: 1px;
}

.artist-item,
.track-item {
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 72px;
    max-height: 72px;
    padding: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.artist-description,
.track-description {
    padding-left: 16px;
    align-content: space-between;
    height: 100%;
    overflow: hidden;
}

.track-container {
    display: flex;
}