:root {
    /* Colors */
    --black: #000;
    --white: #fff;
    --sky: #f0f2f0;

    --dark: #363636;
    --purple: hsl(282, 44%, 40%);
    --blue: linear-gradient(90deg, rgba(82, 45, 184, 1) 0%, rgba(28, 124, 224, 1) 100%);
    /* --blue: hsl(204, 64%, 40%); */
    --green: hsl(134, 61%, 40%);
    --red: hsl(354, 70%, 40%);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    /* fallback for old browsers */
    background: #23074d;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(90deg, #C33764, #1D2671);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(0deg, #C33764, #1D2671);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h4 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.hidden {
    display: none !important;
}

.main-content {
    color: var(--white);
    font-weight: bold;
    width: 90%;
    max-width: 500px;
    padding: 20px;
}

.centered {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.user-feedback-icon {
    font-size: 40px !important;
    color: var(--white);
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.artist-search-input {
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: var(--sky);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--black);
    font-weight: 500;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: var(--black);
    font-weight: 500;
}

::placeholder {
    color: var(--black);
    font-weight: 500;
}

.track-list-position {
    color: var(--white);
    margin: 0 8px 34px 0;
    text-align: left;
    min-width: fit-content;
}

/* Used to set an equal width for all the numbers width a set amount of characters */
.character-width-1 {
    min-width: 11px;
    max-width: 11px;
}

.character-width-2 {
    min-width: 21px;
    max-width: 21px;
}

.character-width-3 {
    min-width: 31px;
    max-width: 31px;
}

.character-width-4 {
    min-width: 41px;
    max-width: 41px;
}

.track-actions-container {
    flex-wrap: wrap;
    height: 100%;
    width: 40px;
}

.track-action {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin: 12px 8px 0 0;
    cursor: pointer;
    text-decoration: none;
}

#user-feedback-container,
#search-result,
#most-popular-tracks {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
}

#search-result {
    background-color: var(--sky);
    margin-top: 8px;
}

#most-popular-tracks {
    /* fallback for old browsers */
    background: hsl(210, 29%, 25%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(315deg, hsl(210, 29%, 25%), hsl(204, 8%, 40%));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(135deg, hsl(210, 29%, 25%), hsl(204, 8%, 40%));

    margin-top: 8px;
}

.track-action-icon {
    /* fallback for old browsers */
    background: #fd746c;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ff9068, #fd746c);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.artist-result-icon {
    color: var(--dark);
    /* Margin used to add spacing between group icon and followers count of artist */
    margin-right: 4px;
}

#user-feedback-container {
    /* background-color: var(--blue); */
    /* background: hsl(256, 61%, 45%); */
    background: rgb(32, 58, 67);
    height: 0px;
    display: flex;
    padding: 0px 12px;
    margin: 0px;
}

.track-action+.track-action {
    margin-top: 0px;
}

.user-feedback {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

#user-feedback-title,
#user-feedback-text {
    margin: 0;
    color: var(--white);
    text-align: left;
}

.error-color {
    background-color: var(--red) !important;
}

.success-color {
    background-color: var(--green) !important;
}

.color-white {
    color: var(--white) !important;
}

/* taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar */

.show-user-feedback {
    animation: fade-in 1s forwards, fade-out 1s 3s forwards;
}

.start-loading {
    animation: fade-in 0s forwards;
}

.loading-complete {
    animation: show-then-fade-out 4s forwards;
}

@keyframes fade-in {
    from {
        height: 0px;
        padding: 0px 12px;
        margin: 0px;
    }

    to {
        height: fit-content;
        padding: 12px 12px;
        margin-top: 8px;
    }
}

@keyframes fade-out {
    from {
        height: fit-content;
        padding: 12px 12px;
        margin-top: 8px;
    }

    to {
        height: 0px;
        padding: 0px 12px;
        margin: 0px;
    }
}

@keyframes show-then-fade-out {
    0% {
        height: fit-content;
        padding: 12px 12px;
        margin-top: 8px;
    }

    90% {
        height: fit-content;
        padding: 12px 12px;
        margin-top: 8px;
    }

    100% {
        height: 0px;
        padding: 0px 12px;
        margin: 0px;
    }
}

.artist-picture,
.track-picture {
    width: auto;
    height: 100%;
    border-radius: 4px;
    margin-right: 12px;
}

.artist-picture-placeholder {
    color: var(--black);
    font-size: 64px !important;
}

.search {
    width: 95%;
}

.followers {
    display: flex;
    height: 24px;
    margin-top: 4px;
    align-items: center;
}

.followers-icon {
    width: auto;
    height: 100%;
    margin: 0 8px 0 0;
}

.artist-name,
.track-name,
.artist-followers {
    margin: 0;
    color: var(--black);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 360px;
    text-align: left;
}

.track-name {
    color: var(--white);
    white-space: pre-wrap;
    height: 50px;
    line-height: 16px;
}

.artist-followers {
    margin-left: 16px;
    color: var(--black);
    margin: 0px;
}

.artist-item,
.track-item {
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 72px;
    max-height: 72px;
    padding: 12px 8px 12px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.artist-description,
.track-description {
    align-content: space-between;
    height: 100%;
    overflow: hidden;
}

.track-container {
    display: flex;
}