body,
html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat'
}

.bg-image {
    background-image: url("../../../img/close-up-photography-of-microphone-144429.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.1);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Removes the arrow in the search field */

input::-webkit-calendar-picker-indicator {
    display: none;
}

.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}